---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

import GalleryLayout from '~/layouts/GalleryLayout.astro';
import { getAlbumImages } from '~/utils/albums';

export async function getStaticPaths() {
  const albums = await getCollection('albums');

  const paths = Object.values(albums).map((album) => {
    return {
      params: {
        id: album.id,
      },
      props: {
        album,
      },
    };
  });

  return paths;
}

const { album } = Astro.props;
const metadata = {
  title: '图片墙',
};
const images = await getAlbumImages(album.id);
---

<GalleryLayout metadata={metadata}>
  <div class="text-center">
    <h1 class="text-5xl font-bold">
      {album.data.title}
    </h1>
    <p class="my-4 text-xl">
      {album.data.description}
    </p>

    <div class="sm:columnsgrid-cols-2 mx-auto my-8 grid gap-4 text-center md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
      {
        images.map((image) => (
          <a href={image.src} target="_blank" rel="noopener noreferrer" class="block">
            <Image
              src={image}
              alt={`from ${album.data.title} album`}
              format="avif"
              quality={50}
              class="mb-4 w-full rounded border-8 border-gray-300 transition-all duration-300 ease-in-out hover:border-2 hover:shadow-lg"
              decoding="async"
              loading="lazy"
              data-album-image
            />
          </a>
        ))
      }
    </div>

    <p class="my-4 text-center text-lg">
      <a href="/gallery" class="hover:underline">View other albums</a>
    </p>
  </div>
</GalleryLayout>
