---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

import GalleryLayout from '~/layouts/GalleryLayout.astro';
import { getAlbumImages } from '~/utils/albums';

export async function getStaticPaths() {
  const albums = await getCollection('albums');

  const paths = Object.values(albums).map((album) => {
    return {
      params: {
        id: album.id,
      },
      props: {
        album,
      },
    };
  });

  return paths;
}

const { album } = Astro.props;
const metadata = {
  title: '图片墙',
};
const images = await getAlbumImages(album.id);
---

<GalleryLayout metadata={metadata}>
  <div class='text-center'>
    <h1 class='font-bold text-5xl'>
      {album.data.title}
    </h1>
    <p class='my-4 text-xl'>
      {album.data.description}
    </p>

    <div class='gap-4 grid md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 mx-auto my-8 text-center sm:columnsgrid-cols-2'>
      {
        images.map((image) => (

          <a href={image.src} target='_blank' rel='noopener noreferrer' class='block'>
            <Image
              src={image}
              alt={`from ${album.data.title} album`}
              format='avif'
              quality={50}
              class='hover:shadow-lg mb-4 border-8 border-gray-300 hover:border-2 rounded w-full transition-all duration-300 ease-in-out'
              decoding='async'
              loading='lazy'
              data-album-image
            />
            </a>
        ))
      }
    </div>

    <p class='my-4 text-lg text-center'>
      <a href='/gallery' class='hover:underline'>View other albums</a>
    </p>
  </div>
</GalleryLayout>
