---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';

import Hero2 from '~/components/widgets/Hero2.astro';

import Image from '~/components/common/Image.astro';
import Comment from '~/components/Twikoo.astro';
import Button from '~/components/ui/Button.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const appStoreImg = '~/assets/images/app-store.png';
const appStoreDownloadLink = 'https://github.com/onwidget/astrowind';

import GalleryList from '~/components/GalleryList.astro';
const metadata = {
  title: 'Mobile App Homepage',
};
---

<Layout metadata={metadata}>
  <Fragment slot='announcement'></Fragment>
  <Fragment slot='header'>
    <Header
      position='left'
      links={[
        { text: 'Services', href: '#' },
        { text: 'Features', href: '#' },
        { text: 'About', href: '#' },
      ]}
      actions={[
        {
          text: 'Download',
          href: '#download',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline='欢迎来到'
    image={{
      src: 'https://images.unsplash.com/photo-1535303311164-664fc9ec6532?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: '本站 Hero 图片',
    }}
  >
    <div>sadfasdf</div>
    <Fragment slot='title'>
      <span class='text-accent dark:text-white'>子韩的网络日志</span>
      <br />
      <span class='p-0 text-orange-500 text-3xl tracking-wide'> 我的日常、学习和生活片段 </span>
      <span class='hidden xl:block pt-0 text-purple-400 text-3xl tracking-wide'>朋友们，快快留言吧</span>
    </Fragment>

    <Fragment slot='subtitle' class='text-2xl tracking-wider'>
      <div class='text-gray-700 text-2xl text-pretty tracking-wider'>
        小小梦想在心中 &ensp; 像颗种子悄悄种 <br />
        阳光雨露来呵护 &ensp; 风雨雷电亦不怵<br />

        相信自己有力量 &ensp; 不怕困难和挑战<br />
        心怀希望永前行 &ensp; 梦想花儿定开放
      </div>
    </Fragment>

    <div slot='actions' class='flex gap-4 pt-8 max-w-sm'>
      <Button variant='link' href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt='App Store Image' width={200} />
      </Button>

      <!-- <Button variant='link' href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt='Google Play Image' width={200} />
      </Button> -->
    </div>
  </Hero2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts title='最新日志' information={`特别期望小伙伴们能够多多留言呢！`} />

  <GalleryList title='图片墙' information={'我的美术作品和相片簿'} />
  <!-- 引入评论组件 -->
  <Comment />
</Layout>
