---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import Button from './ui/Button.astro';
import WidgetWrapper from './ui/WidgetWrapper.astro';
import type { Widget } from '~/types';

export interface Props extends Widget {
  title?: string;
  linkText?: string;
  linkUrl?: string | URL;
  information?: string;
  count?: number;
}

const {
  title = await Astro.slots.render('title'),
  linkText = '查看全部图片',
  linkUrl = '/gallery',

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;

const albums = await getCollection('albums');
---

<WidgetWrapper id={id} isDark={isDark} containerClass={classes?.container as string} bg={bg}>
  <div class="mb-8 flex flex-col lg:flex-row lg:justify-between">
    {
      title && (
        <div class="md:max-w-sm">
          <h2
            class="group font-heading mb-2 text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none"
            set:html={title}
          />
          {linkText && linkUrl && (
            <Button variant="link" href={linkUrl}>
              {' '}
              {linkText} »
            </Button>
          )}
        </div>
      )
    }
  </div>
  <div class="row-gap-5 -mb-6 grid gap-6 md:grid-cols-2 lg:grid-cols-4">
    {
      albums.map((item) => (
        <a href={`/gallery/${item.id}`} class="group mb-4 block transition-all">
          <Image
            src={item.data.cover}
            alt={item.data.title}
            format="avif"
            width={720}
            quality="mid"
            class:list={['rounded-lg transition-all', 'group-hover:opacity-90 group-hover:shadow-lg']}
          />
          <div class="mt-4 text-center text-neutral-800">
            <strong class="font-normal">{item.data.title}</strong>
            <p class="text-xs">{item.data.description}</p>
          </div>
        </a>
      ))
    }
  </div>
</WidgetWrapper>
