---
import { Icon } from 'astro-icon/components';

import Image from '~/components/common/Image.astro';
import PostTags from '~/components/blog/Tags.astro';
import SocialShare from '~/components/common/SocialShare.astro';

import { getPermalink } from '~/utils/permalinks';
import { getFormattedDate } from '~/utils/utils';

import type { Post } from '~/types';

export interface Props {
  post: Post;
  url: string | URL;
}

const { post, url } = Astro.props;
---

<section class="mx-auto py-8 sm:py-16 lg:py-20">
  <article>
    <header
      class={post.image
        ? 'intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade'
        : 'intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade'}
    >
      <div class="flex sm:flex-row flex-col justify-between sm:items-center mx-auto mt-0 mb-2 px-4 sm:px-6 max-w-3xl">
        <p>
          <Icon name="tabler:clock" class="inline-block -mt-0.5 w-4 h-4 dark:text-gray-400" />
          <time datetime={String(post.publishDate)} class="inline-block">{getFormattedDate(post.publishDate)}</time>
          {
            post.author && (
              <>
                {' '}
                · <Icon name="tabler:user" class="inline-block -mt-0.5 w-4 h-4 dark:text-gray-400" />
                <span class="inline-block">{post.author}</span>
              </>
            )
          }
          {
            post.category && (
              <>
                {' '}
                ·{' '}
                <a class="inline-block hover:underline" href={getPermalink(post.category.slug, 'category')}>
                  {post.category.title}
                </a>
              </>
            )
          }
          {
            post.readingTime && (
              <>
                &nbsp;· <span>需要 {post.readingTime*2}</span> 分钟阅读时间
              </>
            )
          }
        </p>
      </div>

      <h1
        class="mx-auto px-4 sm:px-6 max-w-3xl font-heading font-bold text-4xl md:text-5xl leading-tighter tracking-tighter"
      >
        {post.title}
      </h1>
      <p
        class="mx-auto mt-4 mb-8 px-4 sm:px-6 max-w-3xl text-muted dark:text-slate-400 text-xl md:text-2xl text-justify"
      >
        {post.excerpt}
      </p>

      {
        post.image ? (
          <Image
            src={post.image}
            class="bg-gray-400 dark:bg-slate-700 mx-auto mb-6 sm:rounded-md max-w-full lg:max-w-[900px]"
            widths={[400, 900]}
            sizes="(max-width: 900px) 400px, 900px"
            alt={post?.excerpt || ''}
            width={900}
            height={506}
            loading="eager"
            decoding="async"
          />
        ) : (
          <div class="mx-auto px-4 sm:px-6 max-w-3xl">
            <div class="dark:border-slate-700 border-t" />
          </div>
        )
      }
    </header>
    <div
      class="prose-img:shadow-lg dark:prose-invert mx-auto prose-li:my-0 mt-8 px-6 sm:px-6 prose-img:rounded-md max-w-3xl prose-headings:font-heading prose-headings:font-bold dark:prose-a:text-blue-400 dark:prose-headings:text-slate-300 prose-a:text-primary prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:scroll-mt-[80px] prose prose-md lg:prose-xl"
    >
      <slot />
    </div>
    <div class="flex sm:flex-row flex-col justify-between mx-auto mt-8 px-6 sm:px-6 max-w-3xl">
      <PostTags tags={post.tags} class="mr-5 rtl:mr-0 rtl:ml-5" />
      <SocialShare url={url} text={post.title} class="mt-5 sm:mt-1 text-gray-500 dark:text-slate-600 align-middle" />
    </div>
  </article>
</section>
